@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

.row {
  margin-left: initial;
  margin-right: initial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 40px;
}
h4 {
  font-size: 25px;
}
h3 {
  font-size: 30px;
}
p {
  line-height: 30px;
  font-size: 15px;
}

*::selection {
  background-color: #a2e4f5;
  color: #09567a;
}

body {
  color: #a2e4f5;
  width: 100%;
  background-color: #09567a;
  overflow-x: hidden;
}

nav {
  display: flex;
  height: 70px;
  z-index: 100;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(180deg, #0b2545, #09567a);
  box-shadow: 0 2px 10px 10px #09567a;
}

nav ul {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  word-wrap: normal;
  align-items: center;
}

nav li {
  opacity: 100%;
  word-wrap: normal;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin-left: 1vw;
  margin-right: 1vw;
}

nav a {
  display: block;
  font-family: "Gruppo";
  text-transform: uppercase;
  height: 100%;
  padding: 0 1vw;
  font-size: 12px;
  text-decoration: none;
  color: #a2e4f5;
  transition: all 0.2s ease-in-out;
  border-radius: 0.7vw;
  transition: all 0.5s ease-in-out;
}

nav a:hover {
  font-weight: 800;
  text-decoration: none;
  color: rgb(61, 73, 90);
  font-size: 13px;
  background-color: #a2e4f5;
  box-shadow: 0px 0px 75px 5px #a2e4f5;
}

.hero__img {
  margin: auto;
  border-radius: 30px;
  box-sizing: border-box;
  width: 90%;
  margin-bottom: 30px;
}
.hero__title {
  font-family: "Gruppo", sans-serif;
  text-align: center;
  padding: 10px;
}

/* .title {
  font-family: "Gruppo", sans-serif;
  text-align: center;
  padding: 10px;
} */
.link {
  color: #a2e4f5;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  padding-left: 5px;
  border-radius: 5px;
  padding-right: 5px;
}

.link:hover {
  text-decoration: none;
  color: #09567a;
  background-color: #a2e4f5;
  background: #a2e4f5;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 5px #a2e4f5;
}

#hero {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero__container {
  width: 80%;
  padding: 15px 15px;
  padding-bottom: 30px;
  background: linear-gradient(360deg, #09567a, #15678d);
  backdrop-filter: blur(10px);
  border-radius: 40px;
  border: none;
  position: relative;
  box-shadow: 8px 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.hero__row {
  margin-left: initial;
  margin-right: initial;
  display: flex;
}

.hero__col {
  flex-wrap: wrap;
  width: 300px;
  flex-grow: 1;
}
.hero__link {
  color: #a2e4f5;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  padding-left: 5px;
  border-radius: 5px;
  padding-right: 5px;
}

.hero__link:hover {
  text-decoration: none;
  color: #09567a;
  background-color: #a2e4f5;
  background: #a2e4f5;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 5px #a2e4f5;
}

.exp__container {
  padding: 20px;
  margin-top: 150px;
  background-color: #0b2545;
  box-shadow: 0 2px 50px 55px #0b2545;
}
.exp__title {
  padding-bottom: 40px;
  font-family: "Gruppo", sans-serif;
  text-align: center;
  padding: 10px;
}
.exp__row {
  display: flex;
  flex-wrap: wrap;
}

.exp__row > * {
  width: 300px;
  flex-grow: 1;
}

.exp__icon--img {
  width: 50px;
}

#end {
  margin-top: 10%;
  display: flex;
  justify-content: end;
}

.exp__text {
  line-height: 1.6;
  font-size: 15px;
  color: #addbee;
  padding-bottom: 40px;
  text-align: center;
  width: 90%;
  margin: auto;
}

.exp__icon {
  display: flex;
  justify-content: center;
}
.exp__link--readmore {
  padding-top: 30px;
  font-size: larger;
}
.col-lg-6 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.hero__text {
  line-height: 40px;
  color: white;
  font-size: 20px;
  margin: 0;
  padding-right: 15px;
  padding-top: 15px;
}

#hero__name {
  margin-top: 50px;
  padding: 50px 0;
  font-family: "Gruppo", sans-serif;
  left: 25px;
  text-align: center;
  font-size: 13vw;
}

.hero__link--readmore {
  padding-top: 30px;
  font-size: larger;
}

.places__container {
  padding-top: 50px;
  margin-top: 250px;
  background-color: #0b2545;
  box-shadow: 0 2px 50px 55px #0b2545;
}
.places__title {
  font-family: "Gruppo", sans-serif;
  text-align: center;
  padding: 10px;
}
.places__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.places__row > * {
  width: 300px;
}

.places__parent {
  height: 700px;
  margin-top: 50px;
  border-radius: 10px;
  padding: 10px;
  perspective: 1000px;
  background-color: #09567a;
  transition: all 0.5s ease-in-out;
}

.places__parent:hover {
  transform: rotate3d(0.5, 1, 0, 30deg);
}

.neon {
  padding-top: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  transform-style: preserve-3d;
  background-position: center center;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  height: 200px;
}

.places__card-1 {
  background-image: url("../Images/japan.jpg");
}

.places__card-2 {
  background-image: url("../Images/switzerland.jpg");
}

.places__card-3 {
  background-image: url("../Images/tanzania.jpg");
}

.places__card-4 {
  background-image: url("../Images/ny.jpg");
}

.neon:hover {
  background-position: 100% 100%;
  transform: rotate3d(0.5, 1, 0, 30deg);
}

.places__content--box {
  width: 100%;
  margin: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 10px 10px;
  transition: all 0.5s ease-in-out;
  padding: 50px 25px 25px 25px;
  transform-style: preserve-3d;
}

.places__card-title {
  color: white;
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}

.places__card-title:hover {
  transform: translate3d(0px, 0px, 50px);
}

.places__card-content {
  padding-top: 15px;
  margin-top: 50px;
  font-size: 12px;
  color: rgb(185, 185, 185);
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
  text-align: center;
  font-size: 15px;
  padding-top: 45px;
  font-weight: 500;
  color: #fff;
}

.places__card-content:hover {
  transform: translate3d(0px, 0px, 50px);
}

#hobbies {
  margin: 150px 0px;
}
.content__title {
  font-family: "Gruppo", sans-serif;
  text-align: center;
  padding: 10px;
}
.hobbies__title--h1 {
  margin-bottom: 30px;
  font-family: "Gruppo", sans-serif;
  text-align: center;
  padding: 10px;
}

.hobbies__text {
  padding: 20px 5px;
}

.hobbies__container {
  margin: auto;
  width: 90%;
}
.hobbies__title {
  font-family: "Gruppo", sans-serif;
  text-align: center;
  padding: 10px;
}
.hobbies__slide {
  min-height: 90vh;
  position: relative;
  overflow: hidden;
  box-shadow: 8px 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 50px;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: fadeIn 1s linear;
}

@keyframes fadeIn {
  0% {
    transform: scale(1.5);
  }
}

.slide__content {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.content__title {
  font-size: 50px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  animation: animate 0.5s linear 0.5s backwards;
}

.hobbies__text {
  font-size: 20px;
  padding: 0 40px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  max-width: 800px;
  animation: animate 0.5s linear 1s backwards;
}

.hobbies__btn {
  display: inline-block;
  background: #a2e4f5;
  padding: 9px 30px;
  color: #333;
  font-weight: bold;
  font-size: 17px;
  margin-top: 10px;
  border-radius: 15px;
  transition: 0.2s linear;
  animation: animate 0.5s linear 1s backwards;
}

.hobbies__.btn:hover {
  letter-spacing: 2px;
}

.slide__container {
  display: none;
}

.slide__container.active {
  display: block;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(0.7) translateY(-30px);
  }
}

.hobbies__container #next,
.hobbies__container #prev {
  position: absolute;
  transform: translateY(-400px);
  z-index: 90;
  height: 60px;
  width: 50px;
  line-height: 55px;
  font-size: 30px;
  font-weight: 900;
  cursor: pointer;
  text-align: center;
}

.hobbies__container #next {
  right: 5%;
}

.hobbies__container #prev {
  left: 5%;
}

.skill__container {
  margin-top: 150px;
  padding: 20px;
  background-color: #0b2545;
  box-shadow: 0 2px 50px 55px #0b2545;
}
.skill__title {
  font-family: "Gruppo", sans-serif;
  text-align: center;
  padding: 10px;
}
.skill__row {
  display: flex;
  flex-wrap: wrap;
}

.skill__row > * {
  width: 300px;
  flex-grow: 1;
}

.skill__img--left {
  width: 50%;
  float: left;
  padding: 0 5%;
  border-radius: 15%;
  width: 50%;
}

.skill__img--right {
  width: 50%;
  float: right;
  padding: 0 5%;
  border-radius: 15%;
}

.skill__text {
  text-align: justify;
  padding: 10px;
  line-height: 25px;
}

.skill {
  box-sizing: border-box;
}

.skill__title {
  padding-bottom: 20px;
}

.skill__row {
  margin-bottom: 50px;
}

footer {
  padding: 0;
  margin: 0;
}

.footer {
  padding-top: 50px;
  background-color: #02152c;
  color: #a2e4f5;
}

.footer__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  text-align: center;
}

.footer__row > * {
  flex-grow: 1;
  width: 400px;
  line-height: 25px;
  margin-bottom: 80px;
}
.footer__title {
  font-family: "Gruppo", sans-serif;
  text-align: center;
  padding: 10px;
}

.footer__div--email {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__div--email a {
  font-size: 20px;
}

address {
  text-align: center;
  font-size: 20px;
}

.footer__icon {
  width: 50px;
  padding: 0 7px;
}

.footer__div--icons {
  margin: 20px 0;
}

.btn {
  text-decoration: none;
  display: inline-block;
  background: #a2e4f5;
  border: none;
  padding: 0px 30px;
  color: #333;
  font-weight: bold;
  font-size: 17px;
  margin-top: 10px;
  border-radius: 15px;
  transition: 0.2s linear;
  animation: animate 0.5s linear 0.5s backwards;
}
.fav-artists {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.art__title {
  font-family: "Gruppo", sans-serif;
  text-align: center;
  padding: 10px;
}
table {
  text-align: center;
  width: 90%;
  line-height: 40px;
}

table,
th,
td {
  border: solid #0b2545;
  margin-bottom: 50px;
  border-collapse: collapse;
}

th {
  background-color: #0b2545;
}

.btn:hover {
  letter-spacing: 2px;
}

.contacts {
  text-align: left;
}

.footer__div--email {
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer__div--email a {
  text-decoration: none;
  color: #a2e4f5;
}

.footer__div--email a:hover {
  color: #15678d;
}

.phone__p {
  display: inline;
  font-size: 20px;
}

.footer__div--chat {
  height: 100%;
  display: table;
  vertical-align: middle;
}

.about-me__container {
  margin: auto;
}

.about-me__slide {
  min-height: 90vh;
  position: relative;
  overflow: hidden;
}

.about-me__video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@keyframes fadeIn {
  0% {
    transform: scale(1.5);
  }
}

.about-me__content {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.about-me__title {
  font-family: "Gruppo", sans-serif;
  text-align: center;
  padding: 10px;
  font-size: 100px;
  padding: 20px;
  color: #fff;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  animation: animate 1s linear 1s backwards;
}

.ed__card--prep {
  padding-top: 100px;
  background-image: url("../images/prep.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.ed__card--primary {
  background-image: url("../images/primary.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.ed__card--secondary {
  background-image: url("../images/secondary.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
}

.ed__container {
  background-color: #0b2545;
  width: 100%;
  padding: 50px;
}
.ed__title {
  font-family: "Gruppo", sans-serif;
  text-align: center;
  padding: 10px;
}
.ed__text {
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
  margin: 0;
  padding-bottom: 40px;
}
.neon {
  padding-top: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  transform-style: preserve-3d;
  background-position: center center;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  height: 200px;
}

.ed__card--uni {
  background-image: url("../images/uni.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.asp__container {
  padding: 0 15px;
  margin-bottom: 100px;
  box-shadow: 0 2px 50px 55px #09567a;
}
.asp__title {
  font-family: "Gruppo", sans-serif;
  text-align: center;
  padding: 10px;
}
.asp__title--h3 {
  font-family: "Gruppo", sans-serif;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
}

.asp__row {
  display: flex;
  flex-wrap: wrap;
}

.asp__row > * {
  flex-grow: 1;
}

.asp__text {
  margin: auto;
  max-width: 300px;
  text-align: center;
  padding: 10px;
}

.music__box {
  text-align: center;
  padding: 30px;
  background-color: #862f11;
  border-radius: 40px;
  margin: 30px;
}

.music__img {
  width: 97%;
  border-radius: 40px;
}

.music__box--song-title {
  text-align: left;
  padding-bottom: 0;
  color: white;
  font-size: 25px;
  padding-top: 20px;
  font-weight: bold;
}

.t2 {
  font-size: 20px;
  text-align: left;
  color: white;
  padding-bottom: 20px;
}

audio {
  text-decoration: none;
  width: 100%;
  border-radius: 0;
}

.music__container {
  background-color: #0b2545;
  width: 100%;
  box-shadow: 0 2px 50px 55px #0b2545;
}
.music__title {
  font-family: "Gruppo", sans-serif;
  text-align: center;
  padding: 10px;
}

.music__container h2 {
  font-size: 40px;
}

.music__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.music__row > * {
  width: 500px;
}

.music__link {
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.music__link:hover {
  color: #f1ac83;
}
.music__link--pink {
  font-weight: 600;
  text-decoration: none;
  color: white;
}
.music__link--pink:hover {
  color: #efabc2;
}

.p2 {
  background-color: #60434d;
}

#fav-movies {
  margin-top: 150px;
  text-align: center;
}
.movies__title {
  font-family: "Gruppo", sans-serif;
  text-align: center;
  padding: 10px;
}
.movies__title {
  padding-bottom: 40px;
}

.movies__img {
  margin: auto;
  width: 90%;
  padding: 10px;
}

.movies__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

aside {
  margin: auto;
  line-height: 30px;
  font-size: 20px;
  width: 300px;
  display: inline;
  padding: 30px;
}

.quotes__container {
  margin-top: 150px;
  box-shadow: 0 2px 50px 55px #09567a;
  background-color: #0b2545;
  width: 100%;
  box-shadow: 0 2px 50px 55px #0b2545;
}
.quotes__title {
  font-family: "Gruppo", sans-serif;
  text-align: center;
  padding: 10px;
}
.quotes__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quotes__row > * {
  width: 300px;
}

blockquote {
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  padding: 30px;
}

input {
  display: none;
}

.hobi__container {
  margin-bottom: 350px;
  margin-top: 150px;
  width: 100%;
  height: 100%;
  display: grid;
  transform-style: preserve-3d;
  place-items: center;
  padding: 0;
  align-items: center;
}
.hobi__title {
  font-family: "Gruppo", sans-serif;
  text-align: center;
  padding: 10px;
}
.hobi__cards {
  position: relative;
  height: 500px;
  width: 300px;
  margin-bottom: 20px;
  perspective: 1000px;
  transform-style: preserve-3d;
}

label {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 200px;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 0.55s ease;
}

.card {
  position: relative;
  height: 100%;
  background-color: #0b2545;
  border-radius: 10px;
  padding: 30px 20px;
  margin: 0;
}

.hobi__image {
  display: grid;
  place-items: center;
}

.hobi__img {
  border-radius: 2px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
  width: 95%;
  height: 150px;
  object-fit: cover;
}

.hobi__infos {
  display: block;
  text-align: end;
  padding-top: 20px;
}

.infos span {
  display: block;
}

.hobi__name {
  font-size: 20px;
  color: var(--current-color1);
  letter-spacing: 6px;
  margin-bottom: 20px;
  padding-left: 0;
  transition: all 0.6s ease;
}

.hobi__lorem {
  font-size: 12px;
  color: #eceaed;
  letter-spacing: 3px;
}

.btn-contact {
  width: 100%;
  height: 60px;
  margin: 35px auto;
  border-radius: 5px;
  background-color: var(--current-color1);
  display: grid;
  align-items: center;
  place-items: center;
  color: #fff;
  font-size: 20px;
  letter-spacing: 7px;
  font-weight: 700;
  transition: all 0.7s ease;
}

#s1:checked ~ .hobi__cards #slide4,
#s3:checked ~ .hobi__cards #slide1,
#s4:checked ~ .hobi__cards #slide2 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-20%, 0, -50px);
  --current-color1: #eceaed;
  --current-color2: #404457;
}

#s2:checked ~ .hobi__cards #slide1,
#s3:checked ~ .hobi__cards #slide2,
#s4:checked ~ .hobi__cards #slide3 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-10%, 0, -120px);
  --current-color1: #eceaed;
  --current-color2: #404457;
}

#s1:checked ~ .hobi__cards #slide1,
#s2:checked ~ .hobi__cards #slide2,
#s3:checked ~ .hobi__cards #slide3,
#s4:checked ~ .hobi__cards #slide4 {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
  transform: translate3d(0, 0, 0);
  --current-color1: #fad00c;
  --current-color2: #eceaed;
}

#s1:checked ~ .hobi__cards #slide2,
#s2:checked ~ .hobi__cards #slide3,
#s3:checked ~ .hobi__cards #slide4 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(22%, 0, -60px);
  --current-color1: #eceaed;
  --current-color2: #404457;
}

#s1:checked ~ .hobi__cards #slide3,
#s2:checked ~ .hobi__cards #slide4,
#s4:checked ~ .hobi__cards #slide1 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(30%, 0, -500px);
  --current-color1: #eceaed;
  --current-color2: #404457;
}

.photos__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photos__row > * {
  text-align: center;
}

.photos__img {
  width: 90%;
  flex-grow: 1;
  margin: 10px;
  border-radius: 10px;
}

iframe {
  width: 90%;
  margin: 30px;
}

.work-xp {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work-xp__title {
  font-family: "Gruppo", sans-serif;
  text-align: center;
  padding: 10px;
}
.work-xp__title--small {
  font-size: 25px;
}

.work-xp__ecp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 20px;
  max-width: 700px;
  padding: 30px;
}
.awards__title {
  font-family: "Gruppo", sans-serif;
  text-align: center;
  padding: 10px;
}
.awards__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.awards__row > * {
  width: 300px;
  flex-grow: 1;
  padding: 15px;
}

.awards__title--big {
  font-size: 20px;
  padding-bottom: 5px;
}

.awards__title--small {
  font-size: 15px;
}

.awards__link {
  color: #a2e4f5;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
  padding-left: 5px;
  padding: 5px;
  border-radius: 5px;
}

.awards__link:hover {
  text-decoration: none;
  color: #09567a;
  background-color: #a2e4f5;
  background: #a2e4f5;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 5px #a2e4f5;
}
.chatbox {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #0b2545;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chatbox__container {
  flex-wrap: wrap;
  width: 90%;
  margin-top: 100px;
  border: 4px solid #ccc;
  background-color: hsl(199, 74%, 32%);
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 80%;
}

.chatbox__child {
  flex: 1;
  flex-wrap: wrap;
  padding: 10px;
  overflow-y: auto;
}

.chatbox__user-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  margin: auto;
}
.chatbox__contact-btn {
  font-family: "gruppo";
  padding: 10px 20px;
  margin: 0px 14px;
  font-size: 15px;
  border: none;
  color: #0b2545;
}
.contact-info {
  flex-wrap: wrap;
  padding: 20px;
  margin: auto;
  text-align: center;
}
.contact-info ul {
  list-style: none;
  line-height: 20px;
}
.contact-info ul li {
  padding: 10px 0px;
}
.photos__title {
  font-family: "Gruppo", sans-serif;
  text-align: center;
  padding: 10px;
}
@media (min-width: 480px) and (max-width: 768px) and (orientation: landscape) {
  h3.title {
    padding-left: 0;
    padding-right: 0;
    font-size: 25px;
  }
  h2.title {
    font-size: 25px;
  }
  h1.title {
    font-size: 35px;
  }
  p,
  a,
  aside,
  blockquote {
    font-size: 0.9em;
  }
  * {
    font-size: 1em;
  }
  #hero__name {
    font-size: 3em;
  }
  .hero__text {
    line-height: 30px;
    color: white;
    font-size: 0.9em;
    margin: 0;
    padding-right: 0px;
    padding-top: 0px;
  }
  .hero__link--readmore {
    font-size: 0.9em;
  }
  .hero__container {
    width: 90%;
    padding: 0;
    margin: 0;
    padding: 15px 0px;
    padding-bottom: 30px;
  }
  .hero__row {
    display: flex;
  }
  .hero__img {
    width: 100%;
    margin: auto;
  }
  .hero__container .col-lg-6 {
    flex: 0 0 50%;
  }
  .exp__container {
    width: 100%;
    padding: 0;
  }
  .exp__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .exp__container .col-lg-3 {
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
  }
  .exp__text {
    font-size: 0.9em;
  }
  .exp__container .col-lg-3 {
    padding: 5px;
  }
  .hobbies__text {
    font-size: 0.9em;
    margin: 40px;
  }
  .hobbies__btn {
    font-size: 0.9em;
  }
  .hobbies__date {
    font-size: 15px;
  }
  .skill__row {
    display: flex;
  }
  .skill__row [class*="col-"] {
    flex: 1 0 calc(50% - 5px);
    width: calc(50% - 5px);
    flex-grow: 1;
  }
  .skill__container {
    padding: 0;
    margin: 0;
  }
  .skill-img,
  .skill-img2 {
    float: none;
    width: 100%;
  }
  .skill__text {
    text-align: justify;
    line-height: 20px;
  }
  address,
  .footer .footer__div--email a,
  .footer p {
    font-size: 20px;
  }
  .footer__row {
    display: flex;
    flex-wrap: wrap;
  }
  .footer .col-lg-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .footer .col-lg-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .footer .col-lg-4:nth-child(1) {
    flex-basis: 100%;
    max-width: 100%;
  }

  .footer .col-lg-4:nth-child(n + 2) {
    flex-basis: 50%;
    max-width: 50%;
  }
  .asp__row {
    display: flex;
    flex-wrap: wrap;
  }

  .asp__container .col-lg-4 {
    flex: 0 0 50%;
    max-width: 100%;
  }

  .asp__container .col-lg-4:nth-child(3) {
    flex-basis: 100%;
    max-width: 100%;
  }
  .asp__text {
    text-align: center;
    padding: 0;
  }
  .music__container {
    margin: 0;
  }

  .quotes__row {
    display: flex;
    flex-wrap: wrap;
  }

  .quotes__container .col-lg-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .quotes__container .col-lg-4:nth-child(3) {
    flex-basis: 100%;
    max-width: 100%;
  }
  blockquote {
    font-size: 20px;
    padding: 20px 0;
  }
  .places__row {
    display: flex;
    flex-wrap: wrap;
  }
  .places__container .col-lg-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .places__card-title {
    font-size: 25px;
  }
  .places__parent {
    padding: 5px;
    height: calc(1150px - 100vw);
  }
  .places__card-content {
    line-height: 20px;
    width: 100%;
    font-size: 15px;
    padding-left: 0;
    padding-right: 0;
  }
  .photos__row {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  .photos__container .col-lg-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .photos__container .col-lg-4:nth-child(3) {
    justify-self: center;
    flex-basis: 90%;
    max-width: 90%;
    margin: auto;
  }
  .photos__container .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .photos__img {
    width: 90%;
  }
}
@media screen and (min-width: 769px) {
  nav a {
    font-size: 20px;
  }

  .hero__img {
    width: 100%;
    margin: 0;
    width: 100%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .ed__container .col-md-2 {
    padding: 0;
    margin: 0;
  }
  .places__parent {
    padding-top: 10px;
    margin: auto;
    max-width: 300px;
    height: 670px;
  }
  .places__card-content {
    line-height: 2.5vw;
  }
}
